.card {
  display: block;
  padding: 0;
  overflow: hidden;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}

.list {
  padding: 32px;
}

.lead a {
  border-bottom: 1px solid #e3e3e3;
}
